h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
}

td {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: blue;
}

dd {
    margin-left: 16px;
}